body{
    background-color: dimgrey!important;
    position: relative;

}
.input{
    position: absolute;
    margin-top: 10%;
    width: 50%!important;
    margin-left: 25%;
}

.synonym{
    position: absolute;
    margin-top: 5%;
    margin-left: 25%;
    width: 500px;
    border-radius: 50px;
}


#syno{
background-color: bisque!important;

}